.interaction-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interaction-panel__header {
    font-size: 1.8rem;
    color: #2c2c2c;
    font-family: Roboto, sans-serif;
    width: 50%;
}

.interaction-panel__buttons {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.interaction-btn {
    cursor: pointer;
    background: none;
    font-size: 1.4rem;
    transition: all 0.3s 0s linear;
    position: relative;
    border: none;
    outline: none;
}