.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(199, 199, 175, 0.25);
}

.page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
