.user-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.alert {
    text-align: center;
    font-size: 3.6rem;
    color: #dabfdb;
}

.user-list__table {
    text-align: center;
    font-family: Open Sans, sans-serif;
    width: 100%;
    border-collapse: collapse;
    display: table;
    color: #222b45;
    font-weight: 400;
}

.th__name {
    font-size: 2rem;
    padding: .875rem 1.25rem;
    border: 1px solid gray;
    font-weight: 400;
    background: white;
}

.table__line {
    cursor: pointer;
}

.table__line:hover {
    background: #edf1f7;

}

.odd {
    background: #f7f9fc;
}

.even {
    background: white;
}

.user-list__item {
    font-size: 2rem;
    padding: .875rem 1.25rem;
    border: 1px solid #b3b3b3;
    transition: all .3s 0s linear;
}

.selected {
    background: #ccc9f8;
}

.selected:hover {
    background: #b1aee3;
}