.popup-edit {
    text-align: center;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    background: #50501b;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}