.popup-edit {
    text-align: center;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    background: #50501b;
    height: 60vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}